/*  ====================
    Color Theme settings 
    ====================  */

:root {
    --gradient: linear-gradient(90deg, #ffffff, #bee5f1, #5db8dc, #4e42f3, #280ebd, #000000);

    --bg-color: #fff;
    --main-color: #212b43;
    --caret-color: #212b43;
    --sub-color: #62cfe6;
    --sub-alt-color: #ddeff3;
    --text-color: #212b43;
    --error-color: #f19dac;
    --error-extra-color: #e58c9d;
    --colorful-error-color: #f19dac;
    --colorful-error-extra-color: #e58c9d;
        
}

/*  ==================
    HTML, BODY Styling
    ==================  */

html, body {
    font-family: Arial;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: var(--bg-color);
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

/*  ======
    Layout
    ======  */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5.7% auto 3% 17%;
    grid-template-areas: "header" "graph" "messages" "buttons";
}

header {
    grid-area: header;
    justify-content: center;
    align-items: flex-end;
    background-color: var(--bg-color);
}

.graph-container {
    grid-area: graph;
}

.message-container {
    grid-area: messages;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    grid-area: buttons;
    align-items: center;
    justify-content: center;
}

/*  =======================
    Header Elements Styling
    =======================  */

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2.4vh;
    color: var(--text-color);
}

.gradient-bar {
    width: 100%;
    height: 9.5%;
    background: var(--gradient);
}

/*  ==================================
    Message Container Elements Styling
    ==================================  */

.message {
    position: absolute;
    padding: 0;
    margin: 0;
    font-size: 1.8vh;
    font-weight: bold;
    color: white;
    animation: messagePopUp 1.5s ease-in-out forwards;
}

@keyframes messagePopUp {
    0%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }

    25%, 75% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*  =================
    Media Adjustments
    =================  */

@media screen and (max-height: 650px) {
    html, body {
        overflow: visible;
        height: 650px;
    }

    h1 {
        font-size: 100%;
    }

    .message {
        font-size: 100%;
    }
}