:root{
    --bg-color: #fff;
    --main-color: #212b43;
    --main-slight-contrast-color: #30384b;
    --sub-color: #62cfe6;
    --sub-alt-color: #ddeff3;
    --text-color: #212b43;
    --contrast-color: #f19dac;
    --contrast-extra-color: #e58c9d;
}